$background-color: #0f0f0f;
$section-color: #0f0f0f75;
$primary-font-color: #f0f0f0;
$secondary-font-color: #cecece;
$social-links: ("facebook": #1877f2, "linkedin": #0e76a8, "twitter": #00acee, "instagram": #cd486b);