@import "colors";

.customers {
    background-color: $background-color;
    padding: 5rem 7rem;

    h1 {
        color: $primary-font-color;
        margin-bottom: 1.5rem;
    }
    
    table {
        border-collapse: collapse;
        background-color: $primary-font-color;
        width: 100%;
        text-align: left;
        
        th, td {
            padding: 0.8rem 1rem;
        }

        tbody tr:nth-child(even) {
            background-color: $primary-font-color;
        }
        
        tbody tr:nth-child(odd) {
            background-color: $secondary-font-color;
        }

        a {
            color: #2e88dd;
        }

        tfoot tr {
            background-color: $secondary-font-color;
        }
    }
}