@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap");
@import "colors";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Display", sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a,
a:hover {
    text-decoration: none;
    color: $primary-font-color;
}

body {
    background-color: $background-color;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    background-color: $background-color;

    h1 {
        margin-left: 2rem;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;

        ul {
            background-color: $background-color;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin: 0;
            height: fit-content;
            opacity: 0;
            transition: opacity 0.3s ease-in-out 0.1s;

            li a {
                margin-bottom: 1.25rem;
                display: inline-block;
                position: relative;
                transition: all 0.3s ease-in-out;

                &::before {
                    content: "";
                    position: absolute;
                    top: -0.5rem;
                    left: 0;
                    width: 0;
                    border-top: 3px solid $primary-font-color;
                    transition: all 0.3s ease-in-out;
                }
            }

            li a:hover::before,
            li a:focus::before {
                width: 100%;
            }
        }
    }

    button {
        font-size: 2rem;
        color: $primary-font-color;
        background: none;
        border: none;
        cursor: pointer;
    }
}

footer {
    background-color: $background-color;
    padding: 0 5rem 2rem 5rem;

    hr {
        border-width: 0;
        height: 1.5px;
        width: 70%;
        background-color: $primary-font-color;
        margin: auto;
    }

    p {
        color: $primary-font-color;
        text-align: center;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 650px) {
    header {
        nav {
            all: unset;

            ul {
                flex-direction: row;
                opacity: 1;
                width: 25rem;

                li a {
                    margin: 0;
                }
            }
        }

        button {
            display: none;
        }
    }
}