@import "colors";

.messages {
    padding: 5rem 2rem;
    color: $secondary-color;

    h1 {
        margin-bottom: 1.5rem;
    }

    .message {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        button.accordion {
            width: 100%;
            padding: 0.8rem;
            font-size: 1.25rem;
            background-color: $secondary-color;
            border: none;
            outline: none;
            cursor: pointer;
            text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            opacity: 0;
            transform: translateY(-20%);
            transition: background-color 0.2s ease-in-out;

            .bi {
                transform: rotate(0deg);
                transition: transform 0.3s ease-in-out;
            }

            &.unread {
                font-weight: 800;
            }

            &.active .bi {
                transform: rotate(180deg);
            }

            &.active,
            &:hover,
            &:focus {
                background-color: $shaded-secondary-color;
            }
        }

        .panel {
            background-color: $secondary-color;
            color: $primary-color;
            padding: 0 1rem;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-in-out;

            p {
                margin: 1rem 0;
            }
        }
    }
}

@media screen and (min-width: 650px) {
    .messages {
        padding: 5rem 7rem;
    }
}

@keyframes smoothAppear {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    
    70% {
        opacity: 1;
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}